<header>
  <div id="top-nav" class="row">
    <div id="logo">QuizBase</div>
    <ul class="main-nav center">
      <li><a>
        <form class="" action="/dashboard" method="GET">
          <button type="submit" name="button">Dashboard</button>
        </form>
      </a></li>
      <li><a>
        <form class="" action="/classes" method="GET">
          <button type="submit" name="button">Classes</button>
        </form>
      </a></li>
      <li><a>
        <form class="" action="/requests" method="GET">
          <button type="submit" name="button">Requests</button>
        </form>
      </a></li>
      <li><a>
        <form class="" action="/signout" method="post">
          <button type="submit" name="button">Sign out</button>
        </form>
      </a></li>
    </ul>
  </div>
</header>
