<!-- Display class and request button -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Class Name</h1>
    <!-- need to put value so the user can be added to the request database -->
    <form class="" action="index.html" method="post">
      <button type="submit" value="" name="button">Request to Join</button>
    </form>
  </body>
</html>
