<<<<<<< HEAD
=======

>>>>>>> d886548356c112568caa85e4793dd1a5538fcfb6
.about h2 {
  margin-top: 60px;
  margin-bottom: 30px;
}

.about {
  margin: 10px;
  color: #2d4372;
  padding-top: 40px;
  background-color: #a5edff;
}

.about-header:after {
  width: 90px;
  height: 5px;
  background-color: #33ccff;
  display: block;
  content: '';
  margin: 0 auto;
  margin-top: 5px;
}

.balance {
  height: 50px;
  color: #282c34;
}

body {
  margin: 3px;
  font-family: Circular Std;
  background-color: #282c34;
  color: #96ff9f;
  display:block;
}

<<<<<<< HEAD
.body-text {
  width: 70%;
  margin-left: 15%;
  font-size: 20px;
  padding-bottom: 33px;
}

=======
>>>>>>> d886548356c112568caa85e4793dd1a5538fcfb6
button {
  background-color: #2d4372;
  color: #96ff9f;
  margin: 10px;
  font-size : 16px;
}

<<<<<<< HEAD
.cardDetails {
  padding: 20px;
  font-size: 20px;
  color: #ffffff;
}

.cardTable {
  background-color: #697b99;
}

=======
>>>>>>> d886548356c112568caa85e4793dd1a5538fcfb6
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
 }

.createButton {
  color: #f4eb42;
  margin-left: 200px;
}

<<<<<<< HEAD
.creator {
  color: #ffea87;
  font-size: 25px;
}

=======
>>>>>>> d886548356c112568caa85e4793dd1a5538fcfb6
form {
  margin-top: 0px;
  height: 0px;
  display:block;
}

.formElement {
  padding-left: 10px;
  margin-left: 10%;
}

header {
  position: fixed;
  height: 85px;
  width:100%;
  background-color: #2d4372;
  display:block;
}

img {
  height: 50px;
  width: 70px;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

.leftAlign {
  margin-left: 50px;
}

<<<<<<< HEAD
.logging {
  margin-left: 15%;
  margin-bottom: 30px;
  height: 40px;
  width:70%;
  display: inline-block;
  font-size: 20px;
  color: #7f0000;
  background-color: #96ff9f;
  border: 1px solid #DDD;
  border-radius: 4px;
}
=======
>>>>>>> d886548356c112568caa85e4793dd1a5538fcfb6

#logo {
  float: left ;
  font-size : 40px;
  color: #96ff9f;
  padding-top: 20px;
}

ol {
  font-size: 25px;
}

.main-nav {
  padding: 0px;
  float: right;
  margin-top: 0px;
  margin-right: 30px;
  font-size: 20px;
}

.main-nav li {
  display: inline-block;
  letter-spacing: 1px;
  /* margin-top: 20px; */
  margin-left: 20px;
}

.main-nav li a {
  color: white;
  padding: 5px;
  text-decoration: none;
  font-size: 100%;
  background-color: #2d4372;
}

.main-nav li a:hover {
  cursor: pointer;
  color: #ffcc00;
  border-bottom: 2px solid #33ccff;
  transition: all 0.1s ease-in;
}

<<<<<<< HEAD
.pageHeading {
  margin-top: 50px;
  color: #54fcff;
  display:block;
  margin-left: 50px;
}

=======
>>>>>>> d886548356c112568caa85e4793dd1a5538fcfb6
.row {
  max-width: 1140px;
  margin: 0 auto;
  margin-left: 50px;
  display:block;
}

<<<<<<< HEAD
#cardDetails {
  padding: 15px;
  font-size: 20px;
}

th {
  font-size: 25px;
}

=======
>>>>>>> d886548356c112568caa85e4793dd1a5538fcfb6
.theTeam-header:after {
  width: 130px;
  height: 5px;
  background-color: #33ccff;
  display: block;
  content: '';
  margin: 0 auto;
  margin-top: 5px;
}

<<<<<<< HEAD
=======
.body-text {
  width: 70%;
  margin-left: 15%;
  font-size: 20px;
  padding-bottom: 33px;
}

>>>>>>> d886548356c112568caa85e4793dd1a5538fcfb6
.team-text {
  align-content: center;
  width: 70%;
  margin-left: 25%;
  font-size: 16px;
  padding-bottom: 33px;
}

.theTeam-header {
  padding-bottom: 35px;
}

.theTeam i {
  margin-left: 35%;
  font-size: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.theTeam {
  margin: 10px;
  color: #2d4372;
  text-justify: align;
  margin-bottom: 50px;
  background-color: #a5edff;
  padding-top: 40px;
}

<<<<<<< HEAD
=======
.logging {
  margin-left: 15%;
  margin-bottom: 30px;
  height: 40px;
  width:70%;
  display: inline-block;
  font-size: 20px;
  color: #7f0000;
  background-color: #96ff9f;
  border: 1px solid #DDD;
  border-radius: 4px;
}

.pageHeading {
  margin-top: 50px;
  color: #54fcff;
  display:block;
  margin-left: 50px;
}

>>>>>>> d886548356c112568caa85e4793dd1a5538fcfb6
.topics-header {
  margin-top: 50px;
  width: 100%;
  color: #54fcff;
  font-size: 30px;
}

.topicsRow {
  margin-left: 20%;
}

.topics {
  font-size: 20px;
  color: #54fcff;
}

footer {
  height:20px;
  color:  #96ff9f;
  font-size: 15px;
  text-align: center;
  background-color: #2d4372;
}